body {
	font-family: 'helvetica Neue'
}
ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
h1{
	position: relative;
	top: 30px;
	left: 40px;
	border-bottom: 2px solid black;
	font-family: 'helvetica Neue';
	font-size: 40px;
	font-weight: 900;
}
h3{
	position: relative;
	top: 30px;
	left: 40px;
	font-family: 'helvetica Neue';
	font-size: 20px;
	font-weight: 300;
}
h4,h2 {
    font-family: 'helvetica Neue'
}
a {
	color: #0099FF;
    font-family: 'helvetica Neue';
}
a:hover{
	text-decoration:none;
	color: #000066;
    font-family: 'helvetica Neue';
}
p {
    	color: #282828;
    	font-family: 'helvetica Neue';
 	
}
